<app-navbar></app-navbar>
<div class="content slide data fadeInAnimated fastAnimated"> 
    <div class="row">
      <div class="col-md-6 offset-md-1 text-left">
        <h4 class="title" (click)="test()">Nuevo Pedido</h4>
      </div>
    </div>
    <div class="row" style="padding:10px">
      <!-- Seccion 1 -->
      <div class="search offset-md-1 col-md-2">
        <div>
          <input class="searchResults" (keyup)="filter()" [(ngModel)]="terminoSearch" type="text" placeholder="Codigo o nombre del cliente">
        </div>
        <div class="nav-search nav-search-simple">
          <div *ngFor="let c of clientsFilter; let i = index" (click)="showClient(i)" class="searchTD" [ngClass]="{'select': selectClient && c.id == client.id}">
            <p>{{'#'+c.id+'-'+c.name}}</p>
          </div>
        </div>
      </div>
    
    
      <!-- Seccion 2 -->
      <div class="infoClient offset-md-1 col-md-7" *ngIf="selectClient">

        <div class="section-info">
          <div class="separator text-center"><p>Datos del cliente</p></div>
          <div class="col-12">
            <div class="row"  style="padding:10px;">
              <div class="col-md-6 confirm">
                <p>Cliente: <b>{{this.client.name}}</b></p>
              </div>
              <div class="col-md-6 confirm">
                <p>N° cliente: <b class="red">{{this.client.id}}</b></p>
              </div>
              <div class="col-md-6 confirm">
                <p>Nombre contacto: <b>{{this.client.name_contact}}</b></p>
              </div>
              <div class="col-md-6 confirm">
                <p>Cargo: <b>{{this.client.charge}}</b></p>
              </div>
            </div>
          </div>
        </div>

        <div class="section-info">
          <div class="separator text-center">
            <p>Sucursales</p>
          </div>
          <div class="col-12">
            <ul style="margin-top:20px; margin-bottom:20px">
              <li><input type="checkbox" [checked]="all" (change)="selectAll()"/><label>Seleccionar todas</label></li>
              <li *ngFor="let branch of branchSelect; let i = index"><input type="checkbox" [checked]="branch.isDone" (change)="addBranchOrder(i)" ><label>{{branch.name}}</label></li>
            </ul>
          </div>
        </div>
        
        <div class="section-info">
          <div class="separator text-center">
            <p>Información del pedido</p>
          </div>
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Esta informacion es para una sola sucursal si hay varias sucursales, aplicaría a cada sucursal individual</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]='forma'>
            <div class="row">
              <div class="col-md-2">
                <label class="big">Trabajo:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select formControlName="product">
                    <option *ngFor="let product of select.product"  [value]="product">{{product}}</option>
                  </select>
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Otro:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form"><input type="text" (keyup)="addProduct($event)"></div>  
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label class="big">Medida:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select formControlName="size" (keyup)="searchPrice()" (blur)="calculateSpaces()">
                    <option *ngFor="let size of select.size"  [value]="size.value">{{size.size}}</option>
                  </select>
                </div>  
              </div>
              <div class="col-md-2">
                <label class="big">Otra:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form"><input type="text" (keyup)="addSize($event)"></div>  
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label class="big">Cantidad:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form"><input type="text" formControlName="quantity" (blur)="calculateSpaces()"></div>  
              </div>
              <div class="col-md-2">
                  <label class="big">Espacios:</label>
                </div>
                <div class="col-md-4">
                  <div class="div-form"><input type="text" [value]="spaces" disabled></div>  
                </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label class="big">Lados:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select formControlName="sides">                 
                    <option *ngFor="let side of select.sides"  [value]="side.value">{{side.text}}</option>
                  </select>
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Diseño:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select formControlName="design">                 
                    <option *ngFor="let design of select.design"  [value]="design.value">{{design.text}}</option>
                  </select>
                </div>   
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label class="big">Gramage:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select style="width:40%" formControlName="garnet">
                    <option *ngFor="let garnet of select.garnet"  [value]="garnet">{{garnet}}</option>
                  </select>
                  <input type="text" style="width:50%" (keyup)="addGarnet($event)">
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Contacto ok:</label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <input type="text" formControlName="contact_design">
                </div>   
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-3">
                <label class="big">Especificaciones:</label>
              </div>
              <div class="col-md-9">
                <div class="div-form form-group">
                  <textarea rows="5" formControlName="specification"></textarea>
                </div>   
              </div>
            </div>
  
            <div class="separator text-center">
              <p>Entrega</p> 
            </div>
  
            <div class="row">
              <div class="col-md-3">
                <label class="big">Tiempo de entrega:</label>
              </div>
              <div class="col-md-3">
                <div class="div-form form-group">
                  <select formControlName="time_delivery">
                    <option *ngFor="let time of select.time"  [value]="time.value">{{time.text}}</option>
                  </select>
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Especifique:</label>
              </div>
              <div class="col-md-4">
                <input type="date" class="form type2" (change)="addTime($event)">
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-3">
                <label class="big">Enviamos:</label>
              </div>
              <div class="col-md-3">
                <div class="div-form form-group">
                  <select formControlName="we_send">
                    <option *ngFor="let send of select.send"  [value]="send.value">{{send.text}}</option>
                  </select>
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Especifique:</label>
              </div>
              <div class="col-md-4">
                <input type="text" placeholder="Medio de envío" class="type2" formControlName="description_send">
              </div>
            </div>
  
            <div class="separator text-center">
              <p>Precios</p> 
            </div>
            
            <div class="row">
              <div class="col-md-2">
                <label class="big">Base: <button type="button" class="btn btn-info" (click)="searchPrice()"><i class="fas fa-calculator"></i></button></label>
              </div>
              <div class="col-md-4">
                <div class="div-form form-group">
                  <select formControlName="price_flyer">
                    <option *ngFor="let price of select.price"  [value]="price.value">{{price.text}}</option>
                  </select>
                </div>   
              </div>
              <div class="col-md-2">
                <label class="big">Especifique:</label>
              </div>
              <div class="col-md-4">
                <input type="text" (keyup)="addPrice($event)">
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label class="big">Diseño:</label>
              </div>
              <div class="col-md-2">
                <input type="text" formControlName="price_design">
              </div>
              <div class="col-md-2">
                <label class="big">Envio:</label>
              </div>
              <div class="col-md-2">
                <input type="text" formControlName="price_send">
              </div>
              <div class="col-md-2">
                <label class="big">Total:</label>
              </div>
              <div class="col-md-2">
                <input type="text" [value]="calculateTotal()  | number:'1.1-2'" disabled>
              </div>
            </div>
  
  
            <div class="separator text-center">
              <p>Pagos</p>
            </div>
            
            <div class="row">
              <div class="col-md-3">
                <label class="big">Seña:</label>
              </div>
              <div class="col-md-3">
                <input type="text" formControlName="trace">
              </div>
              <div class="col-md-3">
                <label class="big">Deuda:</label>
              </div>
              <div class="col-md-3">
                <input type="text" [value]="calculateDebit()  | number:'1.1-2'" disabled>
              </div>
            </div>
  
            <div class="row">
              
              <div class="col-md-3">
                <label class="big">Medio de pago:</label>
              </div>
              <div class="col-md-3">
                <input type="text" formControlName="method_payment">
              </div>
            </div>
  
            <div class="row text-center">
              <div class="col-12">
                  <button type="button" class="btn btn-primary" (click)="rulesBussiness()" data-toggle="modal" data-target="#exampleModal" *ngIf="forma.valid ">Crear pedido</button>
              </div>
            </div>
          </form>
        </div>
        
      </div><!--Fin-->

      <div class="infoClient offset-md-1 col-md-7 text-center info" *ngIf="!selectClient">
        <div>
          <i class="fas fa-exclamation fa-6x"></i>
          <h3>Seleccione un cliente.</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Modala -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="requestSend.length === 0">Por favor confirme todos los datos.</h4>
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="requestSend.length > 0">Procesando las solicitudes.</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="requestSend.length === 0">

            <div class="section-info">
              <div class="separator text-center"><p>Sucursales</p></div>
              <div class="col-12">
                <ul>
                  <li *ngFor="let b of branch" style="font-size:18px;font-weight:bold;color:red">{{b.name}}</li>
                </ul>
                <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="branch.length >= 1">
                  <strong>Se registrara una orden para cada una de las anteriores sucursales.</strong>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="branch.length == 0">
                  <strong>Debe seleccionar una sucursal como mínimo.</strong>
                </div>
              </div>
            </div>

            <div class="section-info">
              <div class="separator text-center"><p>Especificaciones generales</p></div>
              <div class="col-12">
                <div class="row"  style="padding:10px;">
                  <div class="col-md-6 confirm">
                    <p>Trabajo: <b>{{this.forma.value.product}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Medida: <b>{{parseSize()}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Cantidad: <b>{{this.forma.value.quantity  | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Lados: <b>{{parseSides()}}</b></p>
                  </div>    
                  <div class="col-md-6 confirm">
                    <p>Diseño: <b>{{parseDesign()}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Gramage: <b>{{parseGarnet()}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Contacto diseño: <b>{{this.forma.value.contact_design}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Espacios: <b>{{spaces}}</b></p>
                  </div>
                  <div class="col-12 confirm">
                    <p>Especificaciones: <b>{{this.forma.value.specification}}</b></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-info">
              <div class="separator text-center"><p>Entrega</p></div>
              <div class="col-12">
                <div class="row" style="padding:10px;">
                  <div class="col-md-6 confirm">
                      <p *ngIf="forma.value.special_time == 0">Tiempo de entrega: <b>{{this.forma.value.time_delivery / 7}} Semana(s)</b></p>
                      <p *ngIf="forma.value.special_time == 1">Tiempo de entrega: <b>Especial {{this.forma.value.time_delivery}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Enviamos:
                      <b *ngIf="forma.value.we_send == 1">Si</b>
                      <b *ngIf="forma.value.we_send == 0">No</b>
                    </p>
                  </div>
                  <div class="col-12 confirm">
                    <p>Metodo de envío: <b>{{this.forma.value.description_send}}</b></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-info">
              <div class="separator text-center"><p>Precios</p></div>
              <div class="col-12">
                <div class="row" style="padding:10px;">
                  <div class="col-md-6 confirm">
                    <p>Precio base: <b>{{parsePriceFlyer() | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Precio diseño: <b>{{this.forma.value.price_design | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Precio envío: <b>{{this.forma.value.price_send | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Precio total: <b>{{calculateTotal()  | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Seña: <b>{{this.forma.value.trace | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Deuda: <b>{{calculateDebit()  | number:'1.1-2'}}</b></p>
                  </div>
                  <div class="col-md-6 confirm">
                    <p>Medio de pago: <b>{{this.forma.value.method_payment}}</b></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-info">
              <div class="separator text-center"><p>Caracteristicas especiales</p></div>
              <div class="col-12">
                <div class="col-12 alert alert-info alert-dismissible fade show text-center" role="alert" *ngIf="forma.value.price_flyer_special == 1">
                  <strong>Precio especial.</strong>
                </div>

                <div class="col-12 alert alert-info alert-dismissible fade show text-center" role="alert" *ngIf="forma.value.special_time == 1">
                  <strong>Fecha especial.</strong>
                </div>

                <div class="col-12 alert alert-info alert-dismissible fade show text-center" role="alert" *ngIf="forma.value.size_special == 1">
                  <strong>Medida especial.</strong>
                </div>
              </div>
            </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="createOrder()" *ngIf="branch.length >= 1">Confirmar</button>
          </div>
        </div>
        <div class="modal-body" *ngIf="requestSend.length > 0">
          <div class="col-12 text-center">
            <ul>
              <li *ngFor="let b of branch; let i = index" style="margin: 10px; font-size: 18px;">
                {{b.name}}
                <label *ngIf="requestSend[i].value === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
                <label *ngIf="requestSend[i].value === 'good'"><i class="fas fa-check"></i>  Número de pedido {{requestSend[i].id}}</label>
                <label *ngIf="requestSend[i].value === 'error'"><i class="far fa-times"></i></label>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal" >Finalizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
  