<app-navbar></app-navbar>
  <div class="content slide data fadeInAnimated fastAnimated"> 
    <div class="row">
      <div class="col-6 offset-md-1 text-left">
        <h4 class="title">Central File</h4>
      </div>
    </div>
    <div class="row" style="padding:10px">
      <!-- Seccion 1 -->
      <div class="search offset-md-1 col-md-2 col-sm-3">
        <div>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr style="background:black">
                <input class="searchResults" (keyup)="filter()" [(ngModel)]="terminoSearch" type="text" placeholder="Codigo o nombre del cliente">
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientsFilter; let i = index" (click)="showClient(i)" >
                <td class="searchTD">{{'#'+client.client+'-'+client.name}}</td>
              </tr>        
            </tbody>
          </table>
        </div>
        <div class="new col-12 text-center" style="cursor:pointer" [routerLink]="['/userAuthenticate','order','new']">
          <h4>Nuevo cliente  <i class="fas fa-plus-square"></i></h4>
        </div>
      </div>
      <!-- Seccion 2 -->
      <div class="infoClient offset-md-1 col-md-7 col-sm-9" *ngIf="selectClient">
        <div class="col-md-12 text-center" style="margin-bottom:10px;">
          <div class="row">
            <div class="col-md-6 text-right">
              <h3>{{client.name}}</h3>
            </div>
            <div class="col-md-6 text-left">
              <h6 style="display:inline-block">Nro de cliente:</h6><h6 style="color:red;display:inline-block">{{client.client}}</h6>
              <h6>Inicio: {{client.date_init | date}}</h6>
            </div>
          </div>
        </div>
        <div class="section-info">
          <div class="text-center separator">
            <p>Datos de contacto  <label (click)="updateClient()" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil-alt"></i></label></p>
          </div>
        
          <div class="row">
            <div class="col-md-2 col-sm-4">
              <label class="big">Nombre:</label>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="div-form"><input type="text" disabled [value]="client.name_contact"></div>  
            </div>
            <div class="col-md-2 col-sm-4">
              <label class="big">Cargo:</label>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="div-form"><input type="text" disabled [value]="client.charged"></div>  
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-2 col-sm-4">
              <label class="big">Dirección:</label>
            </div>
            <div class="col-md-10 col-sm-8" >
              <div class="div-form"><input type="text" [value]="client.address"  style="width:96%"></div>  
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-sm-4">
              <label class="big">Comentarios:</label>
            </div>
            <div class="col-md-10 col-sm-8">
              <div class="div-form"><textarea [value]="client.comments" rows="3" style="width:96%"></textarea></div>  
            </div>
          </div>


          <div class="row" *ngFor="let phone of client.phones; let i = index">
            <div class="col-md-2  col-sm-4">
              <label class="big">Telf:</label><label *ngIf="i=== client.phones.length-1 && client.phones.length < 4" (click)="addPhone()" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-square fa-2x add"></i></label><label *ngIf="i <= client.phones.length-1 " (click)="removePhone(i)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-times fa-2x remove"></i></label>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="div-form"><input type="text" disabled [value]="phone.number"></div>  
            </div>
            <div class="col-md-2 col-sm-4">
              <label class="big">Aclaratoria:</label>
            </div>
            <div class="col-md-4 col-sm-8">
              <div class="div-form"><input type="text" disabled [value]="phone.explanatory"></div>  
            </div>
          </div>

          
          <div class="row" *ngFor="let email of client.emails; let i = index">
            <div class="col-md-2  col-sm-4">
              <label class="big">Mail:</label>
            </div>
            <div class="col-md-10  col-sm-8" >
              <div class="div-form"><input type="text" [value]="email.email"><label (click)="addEmail()" data-toggle="modal" data-target="#exampleModal" *ngIf="i=== client.emails.length-1 && client.emails.length < 4"><i class="fas fa-plus-square fa-2x add"></i></label><label *ngIf="i <= client.emails.length-1 " (click)="removeMail(i)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-times fa-2x remove"></i></label></div>  
            </div>
          </div>

        </div>

        <div class="section-info">
          <div class="separator text-center">
            <p>Sucursales <label (click)="addBranch()" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-square"></i></label></p>
          </div>
          <div class="col-12 clientOrder" >
            <table class="table table-striped table-dark table-bordered">
              <thead >
                <tr>
                <td><h1>Nombre</h1></td>
                <td><h1>Dirección</h1></td>
                <td><h1>Telefono</h1></td>
                </tr>
              </thead>
              <tbody class="thead-light">
                <tr *ngFor="let branch of client.branchs; let i = index">
                  <td class="content"><h1>{{branch.name}}</h1></td>
                  <td class="content"><h1>{{branch.address}}</h1></td>
                  <td class="content"><h1></h1></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="section-info">
          <div class="separator text-center">
            <p>Trabajos realizados</p>
          </div>
          <div class="col-12 clientOrder" >
            <table class="table table-striped table-dark table-bordered">
              <thead >
                <tr>
                <td><h1>Estado</h1></td>
                <td><h1>Producto</h1></td>
                <td><h1>Tamaño</h1></td>
                <td><h1>Cantidad</h1></td>
                <td><h1>Fecha de pedido</h1></td>
                <td><h1>Fecha de entrega</h1></td>
                </tr>
              </thead>
              <tbody class="thead-light">
                <tr *ngFor="let order of orders; let i = index" class="trHover" (click)="showOrder(i)" data-toggle="modal" data-target="#Modal1">
                  <td class="content"><h1>{{parseStatus(i)}}</h1></td>
                  <td class="content"><h1>{{order.product}}</h1></td>
                  <td class="content"><h1>{{order.size}}</h1></td>
                  <td class="content"><h1>{{order.quantity  | number:'3.0'}}</h1></td>
                  <td class="content"><h1>{{order.created_at | date}}</h1></td>
                  <td class="content"><h1>{{order.date_delivery | date}}</h1></td>
                  <td class="view text-center" colspan="6"><h1>Ver más</h1></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="orderNew text-center" style="margin-top:10px; cursor:pointer"  [routerLink]="['/userAuthenticate','order','old',{q:true,id:client.client}]">
            <h4>Nuevo Pedido  <i class="fas fa-plus-square"></i></h4>
          </div>
        </div>

        
      </div>

      <!-- Seccion 2 -->
      <div class="infoClient offset-md-1 col-7 text-center info" *ngIf="!selectClient">
        <div>
          <i class="fas fa-exclamation fa-6x"></i>
          <h3>Seleccione un cliente.</h3>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="action==='client'">
             Actualizar datos del cliente
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="action==='branch'">
              Nueva sucursal
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="action==='email'">
              Nuevo email
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="action==='phone'">
              Nuevo Teléfono
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
            <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="action==='remove'">
              Confirme la operación.
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="action==='client'">
            <form [formGroup]='formaClient'>
              <div class="row">
                <div class="col-4">
                  <h1>Nombre:</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="name">
                </div>
                <div class="col-4">
                  <h1>Dirección</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="address">
                </div>
                <div class="col-4">
                  <h1>Contacto</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="name_contact">
                </div>
                <div class="col-4">
                  <h1>Cargo</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="charge">
                </div>
                <div class="col-4">
                  <h1>comentarios</h1>
                </div>
                <div class="col-6">
                  <textarea formControlName="comments" style="width:100%;" rows="5"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-body" *ngIf="action==='branch'">
            <form [formGroup]='formaBranch'>
              <div class="row">
                <div class="col-4">
                  <h1>Nombre:</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="name">
                </div>
                <div class="col-4">
                  <h1>Dirección</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="address">
                </div>
                <div class="col-4">
                  <h1>Teléfono</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="phone">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-body" *ngIf="action==='phone'">
            <form [formGroup]='formaPhone'>
              <div class="row">
                <div class="col-4">
                  <h1>Número:</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="number">
                </div>
                <div class="col-4">
                  <h1>Aclaratoria</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="explanatory">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-body" *ngIf="action==='email'">
            <form [formGroup]='formaEmail'>
              <div class="row">
                <div class="col-4">
                  <h1>Número:</h1>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="email">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" *ngIf="formaBranch.valid && action==='branch' && request!='good' && request!='send'" (click)="createBranch()">Guardar</button>
            <button type="button" class="btn btn-primary" *ngIf="formaPhone.valid && action==='phone' && request!='good' && request!='send'" (click)="createResource()">Guardar</button>
            <button type="button" class="btn btn-primary" *ngIf="formaEmail.valid && action==='email' && request!='good' && request!='send'" (click)="createResource()">Guardar</button>
            <button type="button" class="btn btn-danger" *ngIf="action==='remove' && request!='good' && request!='send'" (click)="deleteRequest()">Eliminar</button>
            <button type="button" class="btn btn-success" *ngIf="formaClient.valid && action==='client' && request!='good' && request!='send'" (click)="update()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal LG-->

    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document" *ngIf="selectOrder">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center" id="ModalLabel1" *ngIf="!cancelOrder">
              Datos de la orden {{order.id}}
            </h4>
            <h4 class="modal-title text-center" id="ModalLabel1" *ngIf="cancelOrder">
              Orden {{order.id}}
              <label *ngIf="request === 'send'"><i class="fas fa-spinner fa-spin"></i></label>
              <label *ngIf="request === 'good'"><i class="fas fa-check"></i></label>
              <label *ngIf="request === 'error'"><i class="far fa-times"></i></label>
            </h4>
          </div>
          <div class="modal-body" *ngIf="!cancelOrder">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th colspan="9" class="text-center">Datos Generales</th>
                </tr>
                <tr>
                  <th>Producto</th>
                  <th>Tamaño</th>
                  <th>Cantidad</th>
                  <th>Diseño</th>
                  <th>Fecha de orden</th>
                  <th>Tiempo de entrega</th>
                  <th>Fecha de entrega</th>
                  <th>Enviamos</th>
                  <th>Medio de envio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{order.product}}</td>
                  <td>{{order.size}}</td>
                  <td>{{order.quantity  | number:'3.0'}}</td>
                  <td>{{parseDesign(order.design)}}</td>
                  <td>{{order.created_at | date}}</td>
                  <td>{{order.time_delivery}}</td>
                  <td>{{order.date_delivery | date}}</td>
                  <td>{{order.we_send}}</td>
                  <td>{{order.description_send}}</td>
                </tr>
              </tbody>
            </table>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Descripcion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{order.specification}}</td>
                </tr>
              </tbody>
            </table>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th colspan="9" class="text-center">Precio de la orden</th>
                </tr>
                <tr>
                  <th>Producto</th>
                  <th>Envio</th>
                  <th>Diseño</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{order.price_flyer  | number:'3.1-2'}}</td>
                  <td>{{order.price_send  | number:'3.1-2'}}</td>
                  <td>{{order.price_design  | number:'3.1-2'}}</td>
                  <td>{{order.price_flyer + order.price_send + order.price_design  | number:'3.1-2'}}</td>
                </tr>
              </tbody>
            </table>
          
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th colspan="9" class="text-center">Pagos realizados en la orden</th>
                </tr>
                <tr>
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Seña</td>
                  <td>{{order.created_at | date}}</td>
                  <td>{{order.trace  | number:'3.1-2'}}</td>
                </tr>
                <tr *ngFor="let abono of order.abonos ">
                  <td>Abono</td>
                  <td>{{abono.created_at | date}}</td>
                  <td>{{abono.mount  | number:'3.1-2'}}</td>
                </tr>
              </tbody>
            </table>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th colspan="9" class="text-center">Registro de status</th>
                </tr>
                <tr>
                  <th>Usuario</th>
                  <th>Realizo</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let status of order.status_order">
                   <td>{{status.user.name}}</td>
                  <td>{{parseStatusLog(status.status)}}</td>
                  <td>{{status.created_at | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="modal-body" *ngIf="cancelOrder">
            <h5>Está seguro que desea cancelar la orden?</h5>
          </div>
          <div class="modal-footer">
            {{action}}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" (click)="cancelOrder = !cancelOrder" *ngIf="order.status_order[order.status_order.length-1].status!= 8 && order.status_order[order.status_order.length-1].status!= 7 && order.status_order[order.status_order.length-1].status!= 6 && !cancelOrder">Cancelar orden</button>
            <button type="button" class="btn btn-primary" (click)="orderCancel()" *ngIf="cancelOrder">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<app-footer></app-footer>
  
