<app-navbar></app-navbar>
<div class="content slide data fadeInAnimated fastAnimated"> 
  <div class="row">
    <div class="col-md-6 offset-md-1 text-left">
      <h4 class="title">Impresión</h4>
    </div>
    <div class="col-md-4 offset-md-1 text-left">
      <label style="font-size: 16px;">Espacios asignados en nuevo pliego: <b>{{spaces}}</b></label>
      <button *ngIf="spaces > 0" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="select(0,'confirm')">Crear Pliego</button>
    </div>
  </div> 
  
  <div class="row">
    <div class="view-more">
      <div class="trace">
        <i class="fas fa-chevron-right fa-4x"></i>
      </div>
      <div class="folios text-center">
        <div class="col-md-12" style="margin-top: 20px;font-size: 14px;font-weight: bold;" *ngFor="let folio of folios; let i = index">
          <div><label>Pliego {{folio.id}}</label></div>
          <div><label style="cursor:pointer" data-toggle="modal" data-target="#exampleModal" (click)="select(i,'folio',0)">Ver más.</label></div>
        </div>
      </div>
    </div>
    <div class="col-md-11 offset-md-1 text-center ">
      <div class="table-responsive">
        <table class="table  table-hover max-width">
          <thead class="thead-dark">
            <tr>
              <th colspan="13" class="text-center"><h4>Gramage 115gr</h4></th>
            </tr>
            <tr>
              <th colspan="13" class="text-center">Espacios totales que faltan por enviar a taller: {{countSpacesTotal(1)}}</th>
            </tr>
            <tr >
              <th scope="col">N° cliente</th>
              <th scope="col">Cliente</th>
              <th scope="col">Sucursal</th>
              <th scope="col">N° Pedido</th>
              <th scope="col">Lados</th>
              <th scope="col">Tamaño</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Espacios</th>
              <th scope="col">Restantes</th>
              <th scope="col">Fecha del pedido</th>
              <th scope="col">Entrega</th>
              <th scope="col">Sel.</th>
              <th scope="col">Esp.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersFirst; let i = index" class="fadeInAnimated" style="cursor:pointer" [ngClass]="{none: order.spacesInMissing == null}">
              <th scope="row" data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.id}}</th>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.id}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{parseSides(order.sides)}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.size}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.quantity | number:'1.0'}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.spaces}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.spacesInMissing}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.created_at  | date}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.date_delivery  | date}}</td>
              <td><input type="checkbox" (change)="selects(1,i)"></td>
              <td><input type="text" style="width:45px" (change)="addSpaces(1,i,$event)" [ngClass]="{error:orderFirstSelect[i].spaces > order.spacesInMissing, error_2: (orderFirstSelect[i].isDone && orderFirstSelect[i].spaces <= 0)}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="table-responsive">
        <table class="table  table-hover max-width">
          <thead class="thead-dark">
            <tr>
              <th colspan="13" class="text-center"><h4>Gramage 150gr</h4></th>
            </tr>
            <tr>
              <th colspan="13" class="text-center">Espacios totales que faltan por enviar a taller: {{countSpacesTotal(2)}}</th>
            </tr>
            <tr>
              <th scope="col">N° cliente</th>
              <th scope="col">Cliente</th>
              <th scope="col">Sucursal</th>
              <th scope="col">N° Pedido</th>
              <th scope="col">Lados</th>
              <th scope="col">Tamaño</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Espacios</th>
              <th scope="col">Restantes</th>
              <th scope="col">Fecha del pedido</th>
              <th scope="col">Entrega</th>
              <th scope="col">Sel.</th>
              <th scope="col">Esp.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersSecond; let i = index" class="fadeInAnimated" style="cursor:pointer" [ngClass]="{none: order.spacesInMissing == null}">
              <th scope="row" data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.id}}</th>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.id}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{parseSides(order.sides)}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.size}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.quantity | number:'1.0'}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.spaces}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.spacesInMissing}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.created_at  | date}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.date_delivery  | date}}</td>
              <td><input type="checkbox" (change)="selects(2,i)"></td>
              <td><input type="text" style="width:45px" (change)="addSpaces(2,i,$event)" [ngClass]="{error:orderSecondSelect[i].spaces > order.spacesInMissing, error_2: (orderSecondSelect[i].isDone && orderSecondSelect[i].spaces <= 0)}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table class="table  table-hover max-width">
          <thead class="thead-dark">
            <tr>
              <th colspan="10" class="text-center"><h4>Otros productos</h4></th>
            </tr>
            <tr >
              <th scope="col">Número de cliente</th>
              <th scope="col">Cliente</th>
              <th scope="col">Sucursal</th>
              <th scope="col">N° Pedido</th>
              <th scope="col">Producto</th>
              <th scope="col">Tamaño</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Fecha del pedido</th>
              <th scope="col">Entrega</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersOthers; let i = index" class="fadeInAnimated" style="cursor:pointer">
              <th data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.id}}</th>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.client.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.branch.name}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.id}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.product}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.size}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.quantity | number:'1.0'}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.created_at  | date}}</td>
              <td data-toggle="modal" data-target="#exampleModal" (click)="select(order.id,'view')">{{order.date_delivery  | date}}</td>
              <td>
                  <button  data-toggle="modal" data-target="#exampleModal"   (click)="selectOthers(i)" *ngIf="order.status_order[order.status_order.length -1].status == 3">Enviar a taller</button>
                  <button  data-toggle="modal" data-target="#exampleModal"   (click)="selectOthers(i)" *ngIf="order.status_order[order.status_order.length -1].status == 4">Impreso</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="show==='folio'">Datos del Pliego {{objectShow.id}}</h4>
          <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="show==='confirm'">Enviar a taller</h4>
          <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="show==='taller'">Confirmar</h4>
          <h4 class="modal-title text-center" id="exampleModalLabel" *ngIf="show==='view'">Pedido Nro {{objectShow.id}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="show==='confirm'">
         <p style="font-size:16px">El pliego actualmente cuenta con {{spaces}} espacios asignados. Por favor confirme el envio de este pliego al taller.</p>
          <div *ngIf="requestStatus === 'good'" class="alert alert-success fade fastAnimated" role="alert" style="margin-top:10px">
              Datos guardados exitosamente.
          </div>
          <div *ngIf="requestStatus === 'error'" class="alert alert-danger fade fastAnimated" role="alert" style="margin-top:10px">
              Error en la operacion.
          </div>
        </div>
        <div class="modal-body" *ngIf="show==='folio'">
          <table class="table  table-hover text-center" *ngIf="requestStatus!='good'">
            <thead class="thead-dark">
              <tr >
                <th scope="col">Número de orden</th>
                <th scope="col">Cliente</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Espacios</th>
                <th scope="col">Espacios en este pliego</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of objectShow.orders_folio; let i = index" class="fadeInAnimated">
                <td scope="row">{{order.order.id}}</td>
                <td scope="row">{{order.order.branch.client.name}}</td>
                <td scope="row">{{order.order.branch.name}}</td>
                <td scope="row">{{order.order.spaces}}</td>
                <td scope="row">{{order.spaces}}</td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="requestStatus === 'good'" class="alert alert-success fade fastAnimated" role="alert" style="margin-top:10px">
              Datos guardados exitosamente.
          </div>
          <div *ngIf="requestStatus === 'error'" class="alert alert-danger fade fastAnimated" role="alert" style="margin-top:10px">
              Error en la operacion.
          </div>
          
        </div>

        <div class="modal-body" *ngIf="show==='taller'">
          <p *ngIf="objectShow.status_order[objectShow.status_order.length - 1].status == 3" style="font-size:16px;">Al confirmar la transacción la orden Nro {{objectShow.id}} sera enviada al taller para imprimir.</p>
          <p *ngIf="objectShow.status_order[objectShow.status_order.length - 1].status == 4" style="font-size:16px;">Al confirmar la transacción la orden Nro {{objectShow.id}} sera enviada al departamento de envios y cobros.</p>
          <div *ngIf="requestStatus === 'good'" class="alert alert-success fade fastAnimated" role="alert" style="margin-top:10px">
            Datos guardados exitosamente.
          </div>
          <div *ngIf="requestStatus === 'error'" class="alert alert-danger fade fastAnimated" role="alert" style="margin-top:10px">
            Error en la operacion.
          </div>
        </div>

        <div class="modal-body" *ngIf="show==='view'">
          <div class="row">
            <div class="col-md-6">
              <p>Cliente: <b>{{objectShow.branch.client.name}}</b></p>
              <p>Nro de Cliente: <b class="red">{{objectShow.branch.client.id}}</b></p>
              <p>Nro de pedido: <b>{{objectShow.id}}</b></p>
            </div>
            <div class="col-md-6">
              <p>Fecha de pedido: <b>{{objectShow.created_at | date}}</b></p>
              <p>Fecha de diseño: <b *ngIf="objectShow.status_order.length >= 2">{{objectShow.status_order[2].updated_at | date}}</b></p>
              <p>Fecha de entrega: <b class="red">{{objectShow.date_delivery | date}}</b></p>
            </div>
          </div>
          <div class="section-info" style="margin-top:10px">
            <div class="separator text-center"><p>Datos del Trabajo</p></div>
            <div class="col-12">
              <div class="row" style="padding:10px;">
                <div class="col-md-6 confirm">
                  <p>Sucursal: <b>{{objectShow.branch.name}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Producto: <b>{{objectShow.product}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Gramage: <b>{{objectShow.garnet}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Tamaño: <b>{{objectShow.size}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Cantidad: <b>{{objectShow.quantity  | number:'1.1-2'}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Lados: <b>{{parseSides(objectShow.sides)}}</b></p>
                </div>
                <div class="col-md-6 confirm">
                  <p>Espacios: <b>{{objectShow.spaces}}</b></p>
                </div>
                <div class="col-md-12 confirm">
                  <p>Especificaciones: <b>{{objectShow.specification}}</b></p>
                </div>
              </div>
            </div>
          </div>
          <p>Vendedor: <b>{{objectShow.status_order[0].user.name | json}}</b></p>
          
        </div>

        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success" *ngIf="show==='folio' && requestStatus!='good'" (click)="jobPrint()">Trabajo impreso</button>
          <button type="button" class="btn btn-success" *ngIf="show==='confirm' && requestStatus!='good' && spaces > 0" (click)="sendTaller()">Enviar a taller</button>
          <button type="button" class="btn btn-success" *ngIf="show==='taller' && requestStatus!='good'" (click)="sendTallerOthers()">Continuar</button>
        </div>
      </div>
    </div>
  </div>
    
</div>


<app-footer></app-footer>
